.chart-container {
  @include flex-center-vert;
  gap: 10px;
  margin-right: 1rem;

  @include tablet {
    @include flex-column;
    align-items: end;
    gap: 10px;
    margin-right: 1rem;
  }

  @include mobile {
    @include flex-column;
    align-items: end;
  }

  .chart {
    width: 340px;
    height: 4px;
    display: flex;
    border-radius: 2px;
    overflow: hidden;

    @include tablet {
      width: 200px;
    }

    @include mobile {
      width: 300px;
    }

    .segment {
      height: 100%;
    }

    .win { background-color: $chart-1; }
    .draw { background-color: $chart-2; }
    .loss { background-color: $chart-3; }
  }

  .numbers {
    display: flex;
    gap: 1rem;
    font-size: $font-size-xs;
    color: $foreground;
  }
}