// Primary Colors
$white: #fff;
$black: #000;
$primary-blue: #4a6cf7;
$primary-green: #0ebca7;
$primary-red: #f45b69;
$primary-grey: #94a3b8;
$primary-accent: #ebefff;
$light-grey: #cbd5e1;
$dark-blue: #0f172a;

