@import 'mixins';

.form {
  @include flex-center;
  gap: 0.5rem;
  border-radius: 16px;
  background-color: $primary-accent;
  padding: 1rem 0;

    @include tablet {
      min-width: 25rem;
  }

      @include mobile {
      min-width: 25rem;
  }


  &__label {
    color: $foreground;
    font-size: $font-size-xs;
  }

  &__circles {
    display: flex;
    gap: 0.3rem;
  }

  .circle {
    @include flex-center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    font-size: 0.9rem;
    font-weight: $font-weight-semibold;
    color: black;

    &.win {
      background-color: $chart-1;
    }

    &.draw {
      background-color: $chart-2;
    }

    &.loss {
      background-color: $chart-3;
    }
  }
}
