@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin flex-colum {
  display: flex;
  flex-direction: column;
}

@mixin card-box {
  background: #fff;
  border: 1px solid #cbd5e1;
  border-radius: 16px;
  padding: 1rem;
}
